.search--container {
    position: absolute;
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-x: hidden;
    width: 450px;    
    background: var(--PRIMARY-BACKGROUND-COLOR);
    color: var(--PRIMARY-TEXT-COLOR);
    border-top: 1px solid var(--PRIMARY-GREY);
}

.search--parameter {
    width: 100%;
    padding: 10px 20px;
    cursor: default;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.search--parameter:hover {
    background: var(--PRIMARY-BLUE);
    color: #ffffff;
    cursor: pointer;
}