/* 
    Meyer Reset to reset the CSS properties across browsers.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    transition: all .1s ease-in-out;
}

html {
    --PRIMARY-BACKGROUND-COLOR: #ffffff;
    --PRIMARY-TEXT-COLOR: #2e2e2e;
    --PRIMARY-GREY: #a1a1a1;
    --SECONDARY-GREY: #5a5a5a;
    --PRIMARY-BLUE: #0599ff;
}

html[data-theme="dark"] {
    --PRIMARY-BACKGROUND-COLOR: #1a1a1a;
    --PRIMARY-TEXT-COLOR: #ffffff;
    --PRIMARY-GREY: #a1a1a1;
    --SECONDARY-GREY: #5a5a5a;
    --PRIMARY-BLUE: #0599ff;
}

.App {
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 100px 0;
}

.background--slideshow {
    background-color: #0a0a0a;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-attachment: fixed;
    animation: backgroundSlide 20s linear infinite 0s;
    animation-timing-function: cubic-bezier(.18,.92,.11,1);
    background: url('./assets/backgrounds/1.jpg');
}

@keyframes backgroundSlide {
    0% {
        background: url('./assets/backgrounds/1.jpg');
    }

    25% {
        background: url('./assets/backgrounds/2.jpg');
    }

    50% {
        background: url('./assets/backgrounds/3.jpg');
    }

    75% {
        background: url('./assets/backgrounds/4.jpg');
    }

    100% {
        background: url('./assets/backgrounds/1.jpg');
    }
}

.themer {
    outline: none;
    border: none;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    background: var(--PRIMARY-TEXT-COLOR);
    color: var(--PRIMARY-BACKGROUND-COLOR);
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 16px;
    position: fixed;
    z-index: 9999;
    bottom: 20px
}